

html {
  font-size: 1.2rem;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  background-image: url('../images/bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

a {
  text-decoration: none;
}

span.line {
  display: inline-block;
}

.perfil {
  position: fixed;
  height: 100%;
  color: white;
  background-color: #111111;
  padding-top: 5%;
  padding-bottom: 5%;
}



.foto-de-perfil {
  margin: 15px;
  width: 50%;
  border-radius: 50%;
  border: 1px solid orange;
  padding: 2px;
}

.detalhes {
  padding-top: 2%;
  padding-left: 28%;
  padding-right: 5px;
}

.navigation li {
  padding: 10px;
}


.navigation a {
  color: white;
  font-size: 24px;
}

.navigation a:hover {
  color: orange;
}

#skills .card {
  margin: 2px;
  height: 100%;
  border: 1px solid grey;
}


#skills .card-img-top {
  padding: 20px;
  height: 175px;
  margin: auto;
  object-fit: contain;
}


#skills .card-body {
  overflow: hidden;
}

@media screen and (max-width:768px) {
  body {
    background: white;
    background-attachment: local;
    background-position: bottom;
  }
  .perfil {
    position: relative;
    width: 100%;
    height: auto;
  }
  .foto-de-perfil {
    width: 40%;
    padding: 2px;
  }
  .navigation li {
    padding: 5px;
  }
  .detalhes {
    padding-left: 5%;
    padding-right: 5%;
  }
  #skills .card {
    margin: 10px 2px;
  }
  #skills .col-sm {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
