html {
  font-size: 1.2rem;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.perfil {
  position: fixed;
  height: 100%;
  color: white;
  background-color: #111111;
  padding-top: 5%;
  padding-bottom: 5%;
}

.detalhes {
  padding-top: 5%;
  padding-left: 28%;
}

@media screen and (max-width:768px) {
  .perfil {
    position: relative;
    width: 100%;
    height: auto;
  }
  .detalhes {
    padding-left: 5%;
  }
}


.foto-de-perfil {
  margin: 15px;
  height: 175px;
  border-radius: 50%;
  border: 1px solid orange
}

.navigation li {
  padding: 10px;
}

a {
  text-decoration: none;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  color: orange;
}
